[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-asyncio = "*"
moto = "*"
httpx = "*"
sphinx = "*"
build = "*"

[packages]
fastapi = "*"
boto3 = "*"
requests = "*"

[requires]
python_version = ">=3.8, <=3.11"
